{% extends 'src\Views\Extensions\Base.html' %}
{% block HomeContent %}

<div class="page-wrapper mdc-toolbar-fixed-adjust" style= "background-color: white;">
        <main class="content-wrapper" style= "background-color: white;">
          
            <div class="mdc-layout-grid__inner">
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
                
                <form method = "POST" action="">
                {% csrf_token %}
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" id="exam_name" name="exam_name">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="name" class="mdc-floating-label">
                                Exam Name 
                            </label>
                              
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                </div>
                <br>

                <br>
                <input name="Create Exam" id="Create Exam" class="mdc-button text-button--warning" type="submit" value="Create Exam">
                </form>
                
            </div>
        </main>
</div>

{% endblock %}