{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckIt? | Materials</title>

    {% load static %}
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="{% static 'Static/assets/img/title-logo.png' %}" rel="icon">
    <link href="{% static 'Static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'Static/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'Static/assets/css/style.css' %}" rel="stylesheet">

    <!--material icon-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    


</head>
<body style="background-color:rgb(245, 245, 245);">
    <header id="header" class="fixed-top" style="background-color: rgb(250, 250, 250);">
        <div class="container d-flex">
    
          <div class="logo mr-auto" >
            <h1 class="text-light" ><a href="/"><span style="text-decoration: None; color: rgb(69, 10, 109); font-weight:bolder;">CheckIt?</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
    
          <nav class="nav-menu d-none d-lg-block" style="color: rgb(24, 24, 24);">
            <ul>
              <li class="active" ><a href="/" style="text-decoration: None; color: rgb(28, 29, 29);">Home</a></li>
              <li><a href="#services" style="text-decoration: None; color: rgb(28, 29, 29);">Features</a></li>
              <li><a href="/uploadMaterial" style="text-decoration: None; color: rgb(28, 29, 29);">Materials</a></li>
              <li><a href="#team" style="text-decoration: None; color: rgb(28, 29, 29);">Team</a></li>
              <li class="drop-down" style="color: rgb(28, 29, 29);"><a href="" style="text-decoration: None;">Sign In</a>
                <ul>
                  <li><a href="/login" style="text-decoration: None;">Log In</a></li>
                  <li><a href="/register" style="text-decoration: None;">Register</a></li>
                </ul>
              </li>
    
            </ul>
          </nav><!-- .nav-menu -->
          
          <form class="d-flex" method="GET" action="{% url 'searchMaterials' %}">
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search Materials" aria-label="Search" name="query" id="query"><button class="btn btn-outline-secondary" type="submit">Search</button>
          </form>
    
        </div>
    </header>
    <section id="search">
    </br>
  </br>


  
  {% if Material %}
  {% for files in Material %}
  
  <div class="container-xxl" style="margin-top: 1rem;">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-header" style="border-radius: 10px; border-color: rgb(128, 128, 128);color:#76649b;"><div class="row">
        <div class="col-md-8">
          <a  href="/addComment/{{files.id}}/" style="text-decoration: none; color:rgb(69, 27, 146)">

           <h5> {{files.course_name}}</h5>
          </a>
        </div>
        <div class="col-md-4">
          
          <a href="{{files.pdf.url}}" download="{{files.pdf.url}}" style="float: right;margin:5px;color:rgb(19, 136, 72)">
        
            <i class="material-icons">
              file_download
            </i>
            
          </a>&nbsp &nbsp
          
 </div></div></div>
 <div class="card-body">
  <h6 style="font-weight: bold;">Topic : {{files.description}}</h6>
  <p style="font-weight: 500;">{{files.uni_name}}</p>

  <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet" style="width:300px;">
    <div class="mdc-card info-card info-card--success">
      <div class="card-inner">
       <a href="{{files.pdf.url}}" target="_blank" style="text-decoration: none;">
        <h6 style="color: rgb(11, 59, 161);">{{files.pdf}}</h6>      
       </a>
        <h5 class="font-weight-light pb-2 mb-1 border-bottom"> 
        </h5>
        <p class="tx-12 text-muted"></p>
       
        <div class="card-icon-wrapper">
          <i class="material-icons">dvr</i>
        </div>
      </div>
    </div>
  </div>
 ><br>
  
  {% video files.video 'small' %}



    <div>
      <!--comment-->
<br>
      <div class="container mt-14">
       <div class="row d-flex">
         <div class="col-md-12">
           
           {%if comments%}
           <div class="headings d-flex justify-content-between align-items-center mb-3">
             <h6>Comments</h6>
           </div>
           {%endif%}
           
             {% for comment in comments %}
               {% if comment.material_id_id == files.id %}
             
           <div class="card p-3">
             <div class="d-flex justify-content-between align-items-center">
               <div class="user d-flex flex-row align-items-center">

                 <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2"> 
                 <span>
                   <small class="font-weight-bold text-success" >{{comment.username}}</small> 
                   
                 </span>
               </div>
               <small style="font-size: x-small;">{{comment.created_at}}</small>
             </div>
             <small class="font-weight" style="padding-left: 3.5%;">{{comment.text}}</small>
           </div>
           {% endif %}
           {% endfor %}
         
       </div>
     </div>


              <form action="" method="post">
              {% csrf_token %}
              <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                  {% if is_loggedIn == 'No' %}
                    <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
                  {% else %}
                  {% if picture != no_picture %}
                    <img src="{{ picture }}" width="30" class="user-img rounded-circle mr-2">
                  {% else %}
                    {% if userPictures.picture == '' %}
                      <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
                    {% else %}
                      <img src="{{ userPictures.picture.url }}" width="30" class="user-img rounded-circle mr-2">
                    {% endif %}
                  {% endif %}
                  {% endif %}
                    <span>
                      <small class="font-weight text-secondary"><input style="width:1100px; border:0px;" type="text" name="comment" placeholder="Write Your Comment" class="form-control"></small> 
                    </span>
                  </div>
                  <input type="hidden" name="postid" value="{{object.id}}">
                  <input type="hidden" name="parentid" value="">
                  <button type="submit" href="/addComment/{{files.id}}/" class="btn btn-block login-btn">
                    <i class="material-icons mdc-button__icon">add</i>
                  </button>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!--</br>
          <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
              <div class="row">
                <div class="col-md-11">
              <input type="text" name="comment" placeholder="Enter Your Comment" class="form-control">
              </div>
              <div class="col-md-1">
              <button type="submit" class="btn-primary">
                <i class="material-icons">
                add_comment
              </i></button>
              </div>
            </div>
             <input type="hidden" name="postid" value="{{object.id}}">
             <input type="hidden" name="parentid" value="">
             </div>
             
          </form>
        </div>          
      </br>
      <div>
        <label>Comments</label>
        {% for comment in comments %}
        {% if comment.material_id_id == files.id %}
          <div class="row">
            
              <b>{{comment.username}}</b>
              <p class="small">{{comment.created_at}}</p>
            <p>{{comment.text}}</p>
            
            
          </div>
          {% endif %}
        {% endfor %}
      </div>-->


       
      </div>
    
  {% endfor %}
  {% endif %}