
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckIt?</title>

    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="{% static 'Static/assets/img/title-logo.png' %}" rel="icon">
    <link href="{% static 'Static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'Static/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'Static/assets/css/style.css' %}" rel="stylesheet">
  


</head>
<body>
    <header id="header" class="fixed-top" style="background-color: rgb(31, 29, 26);">
        <div class="container d-flex">
    
          <div class="logo mr-auto" >
            <h1 class="text-light" ><a href="/"><span style="color: aliceblue;">CheckIt?</span></a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
          </div>
          
    
          <nav class="nav-menu d-none d-lg-block" style="color: rgb(24, 24, 24);">
            
            <ul>
              <li class="active" ><a href="/" style="color: aliceblue;">Home</a></li>
              <li><a href="#services" style="color: aliceblue;">Features</a></li>
              <li><a href="/uploadMaterial" style="color: aliceblue;">Materials</a></li>
              <li><a href="#team" style="color: aliceblue;">Team</a></li>
              <li class="drop-down" style="color: aliceblue;"><a href="">Sign In</a>
                <ul>
                  <li><a href="login">Log In</a></li>
                  <li><a href="register">Register</a></li>
                </ul>
              </li>
    
            </ul>
            
          </nav><!-- .nav-menu -->
          
    
        </div>
      </header>
      <div class="container-xxl" style="margin-top: 10rem;">
        {% if AllMaterials|length < 1 %}
       <h1>Search Results:</h1>
        Your search query : <b>{{query}}</b> did not match any documents. <br>
        Suggestions:
        <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try more general keywords.</li>
       <li> Try fewer keywords.</li>
       <li> Try different keywords.</li>
        </li>
        </ul>
       
    {% endif %}
    
    {% for files in AllMaterials %}
    <div class="container-xxl" style="margin-top: 10rem;">
     
      <div class="shadow-sm p-3 mb-5 bg-body rounded">
      
        <h5 class="card-header" style="border-radius: 10px; border-color: rgb(128, 128, 128);">Course name : {{files.course_name}}</h5>
        <div class="card-body">
          <h6>Topic : {{files.description}}</h6>
          <p>{{files.uni_name}}</p>
          <p>Uploaded by {{files.username}}</p>
          <a href="/Course/{{coursename}}" class="btn btn-outline-dark">Open</a>
          <a href="/Course/{{coursename}}" class="btn btn-primary">Download</a>
        </div>
      </div>
    
  </div>
    {% endfor %}
    </div>
    
</body>
</html>