{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckIt?</title>

    {% load static %}
    <link rel="stylesheet" href="css/bootstrap.css">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link href="{% static 'Static/assets/img/title-logo.png' %}" rel="icon">
    <link href="{% static 'Static/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">


    
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
     <!--material icon-->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!-- Vendor CSS Files -->
   <link href="{% static 'Static/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'Static/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'Static/assets/css/style.css' %}" rel="stylesheet">

    <!-- slick caraousel-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/Front/src/Static/slick/style.css"> 
  


</head>
<body style="background-color:rgb(245, 245, 245);">
  <header id="header" class="fixed-top" style="background-color: rgb(250, 250, 250); height: 80px;">
    <div class="shadow-sm p-3 mb-5 bg-body rounded" style="border-color: rgb(243, 173, 173);">
    
      <div class="container d-flex">
  
        <div class="logo mr-auto" >
          <h1 class="text-light" ><a href="/"><span style="color: rgb(69, 10, 109); font-weight:bolder;">CheckIt?</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>
  
        <nav class="nav-menu d-none d-lg-block" style="color: rgb(24, 24, 24);">
          <ul>
            <li class="active" ><a href="/" style="color: rgb(28, 29, 29);">Home</a></li>
            <li><a href="#services" style="color: rgb(28, 29, 29);">Features</a></li>
            <li><a href="/uploadMaterial" style="color: rgb(28, 29, 29);">Materials</a></li>
            <li><a href="#team" style="color: rgb(28, 29, 29);">Team</a></li>
            <li class="drop-down" style="color: rgb(28, 29, 29);"><a href="">Sign In</a>
              <ul>
                <li><a href="login">Log In</a></li>
                <li><a href="register">Register</a></li>
              </ul>
            </li>
  
          </ul>
        </nav><!-- .nav-menu -->
        <form class="d-flex" method="GET" action="{% url 'searchMaterials' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" placeholder="Search Materials" aria-label="Search" name="query" id="query"><button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
  
      </div>
    </div>
    </header>
      <div class="container-xxl" style="margin-top: 10rem;">
        {% if AllMaterials|length < 1 %}
       <h1>Search Results:</h1>
        Your search query : <b>{{query}}</b> did not match any documents. <br>
        Suggestions:
        <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try more general keywords.</li>
       <li> Try fewer keywords.</li>
       <li> Try different keywords.</li>
        </li>
        </ul>
       
    {% endif %}
    
    {% for files in AllMaterials %}
    <div class="container-xxl" style="margin-top: 1rem;">
   
      <div class="shadow-sm p-3 mb-5 bg-body rounded">
      
        <h5 class="card-header" style="border-radius: 10px; border-color: rgb(128, 128, 128);color:#76649b;"> {{files.course_name}}</h5>
  
        <div class="card-body">
          <h6 style="font-weight: bold;">Topic : {{files.description}}</h6>
          <p style="font-weight: 500;">{{files.uni_name}}</p>
          <p style="color: rgb(11, 59, 161);">{{files.pdf}}</p>
          
          {% video files.video 'small' %} <br>
  
          <a href="{{files.pdf.url}}" target="_blank"  class="btn btn-primary">
            <i class="material-icons">
              file_open
            </i>
          </a>
          <a href="{{files.pdf.url}}" download="{{files.pdf.url}}" class="btn btn-success">
            
            <i class="material-icons">
              file_download
            </i>
            
          </a>       
        </a>
        </br>
        <div>
             <!--comment-->
    </br>
    <div class="container mt-14">
     <div class="row d-flex">
       <div class="col-md-12">
         <div class="headings d-flex justify-content-between align-items-center mb-3">
           <h5>Comments</h5>
         </div>
         
           {% for comment in comments %}
             {% if comment.material_id_id == files.id %}
         <div class="card p-3">
           <div class="d-flex justify-content-between align-items-center">
             <div class="user d-flex flex-row align-items-center">
             {% if comment.user_picture == "" %}
               <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
             {% else %}
             {% if comment.googleAcc == 'False' %}
               <img src="{{comment.user_picture.url}}" width="30" class="user-img rounded-circle mr-2">
             {% else %}
               <img src="{{comment.user_picture}}" width="30" class="user-img rounded-circle mr-2">
             {% endif %}
             {% endif %}  
               <span>
                 <small class="font-weight-bold text-warning" >{{comment.username}}</small> 
                 
               </span>
             </div>
             <small style="font-size: x-small;">{{comment.created_at}}</small>
           </div>
           <small class="font-weight" style="padding-left: 3.5%;">{{comment.text}}</small>
         </div>
         {% endif %}
         {% endfor %}
         
         <div class="card p-3">
           <div class="d-flex justify-content-between align-items-center">
             <div class="user d-flex flex-row align-items-center">
             {% if picture != no_picture %}
               <img src="{{ picture }}" width="30" class="user-img rounded-circle mr-2">
             {% else %}
               {% if userPictures.picture == '' %}
                 <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
               {% else %}
                 <img src="{{ userPictures.picture.url }}" width="30" class="user-img rounded-circle mr-2">
               {% endif %}
             {% endif %}
               <span>
                 <small class="font-weight text-secondary">Write your Comment.</small> 
               </span>
             </div>
             <a href="/addComment/{{files.id}}/" class="mdc-button mdc-button--raised icon-button">
               <i class="material-icons mdc-button__icon">add</i>
             </a>
           </div>
         </div>
         
       </div>
     </div>
</div>
    
        </div>
      </div>
    
  </div>
</div>
   
   {% endfor %}
    
   
    <!-- Pagination -->
    <nav class="my-3 container">
      <ul class="pagination justify-content-center">
          {% if AllMaterials.has_previous %}
        <li class="page-item"><a class="page-link" href="?query={{query}}&page={{AllMaterials.previous_page_number}}">Previous</a></li>
        {% endif %}
        {% for i in AllMaterials.paginator.page_range %}
        {% if AllMaterials.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?query={{query}}&page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        {% if AllMaterials.has_next %}
        <li class="page-item"><a class="page-link" href="?query={{query}}&page={{AllMaterials.next_page_number}}">Next</a></li>
        {% endif %}
      </ul>
    </nav>

    
  
  

</body>
</html>