{% extends 'src\Views\Exams\Exam_Base.html' %}
{% block HomeContent %}

<!--static-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!---->
<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper">
    <div class="mdc-layout-grid__inner">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal" tabindex="-1" id="newFolder">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Add New File</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                
                <br>
               
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                  <div class="mdc-text-field mdc-text-field--outlined">
                    <input class="mdc-text-field__input" id="text-field-hero-input" id="exam_file" type = "file" multiple name ="exam_file" style="padding-top: 6px;">
                    <div class="mdc-notched-outline">
                      <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                          <label for="CourseCode" class="mdc-floating-label">
                            File
                          </label>
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                      </div>
                    </div>
                  </div>
                  <br>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </form>
</div>

<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper" style=" padding-top: 0px; padding-bottom: 0px;">
  <h5 style = "padding-bottom: 10px;"> Unchecked Scripts</h5>
    <div class="mdc-layout-grid__inner">
      {% if examScripts %}
        {% for examScript, file_name in zipped_lists %}
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card info-card info-card--success">
              <div class="card-inner">
                <a href = "{{ file_name }}/" style = "text-decoration: None;"><h5 class="card-title">{{ file_name }}</h5></a>
                <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ file_name }}</h5>
                
                <div class="card-icon-wrapper">
                  <i class="material-icons">description</i>
                </div>
              </div>
            </div>  
          </div>
        {% endfor %}
      {% else %}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-card info-card info-card--success">
            <div class="card-inner">
              No Unchecked Scripts. Add one Now!
            </div>
          </div>  
        </div>
      {% endif %}
    </div>
    <br>
    <br>
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
      <h5 style = "padding-bottom: 10px; padding-top: 30px; floating: left;">
        Checked Scripts
        <a href="/home/{{ courses.name }}/{{ exam.exam_name }}/export_excel" class="mdc-drawer-link btn btn-sm btn-outline-dark">
          <i style="vertical-align: bottom; font-size: 18px !important;" class="material-icons mdc-drawer-item-icon">file_download</i>Excel
        </a>
      </h5>
    </div>
    <div class="mdc-layout-grid__inner">
      {% if checkedExamScripts %}
        {% for checkedExamScripts, checked_file_names in zipped_lists_2 %}
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card info-card info-card--success">
              <div class="card-inner">
                <a href = "Script{{ checkedExamScripts.student_id }}/Review/" style = "text-decoration: None;"><h5 class="card-title">{{ checkedExamScripts.student_id }}</h5></a>
                <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{ checkedExamScripts.student_id }}.pdf</h5>
                
                <div class="card-icon-wrapper" style="width: 100px;">
                  <h3 style = "color: white;">{{ checkedExamScripts.Marks }}</h3>
                </div>
              </div>
            </div>  
          </div>
        {% endfor %}
      {% else %}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-card info-card info-card--success">
            <div class="card-inner">
              No Checked Scripts. Check one Now!
            </div>
          </div>  
        </div>
      {% endif %}
    </div>  
  </main>
</div>
{% endblock %}