{% extends 'src\Views\Extensions\Base.html' %}
{% block HomeContent %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper">
    <div class="mdc-layout-grid__inner">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal" tabindex="-1" id="newFolder">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Create New Exam</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                  <div class="mdc-text-field mdc-text-field--outlined">
                    <input class="mdc-text-field__input" id="exam_name" name="exam_name">
                    <div class="mdc-notched-outline">
                      <div class="mdc-notched-outline__leading"></div>
                        <div class="mdc-notched-outline__notch">
                          <label for="exam_name" class="mdc-floating-label">
                            Exam Name 
                          </label>    
                        </div>
                        <div class="mdc-notched-outline__trailing"></div>
                      </div>
                    </div>
                  </div>
                <br>
                
                <div class="input-group">
                    <input type="file" name ="exam_question" class="form-control" id="exam_question" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
                
                
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" value="Create" class="btn btn-primary">
              </div>
            </div>
          </div>
        </div>
      </form>
</div>

<div class="page-wrapper mdc-toolbar-fixed-adjust">
  <main class="content-wrapper"> 
    <div class="mdc-layout-grid__inner">
      {% if exams %}
        {% for exam, script_count in zipped_lists %}
          <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
            <div class="mdc-card info-card info-card--warning">
              <div class="card-inner">
                <a href = "{{ exam.exam_name }}/" style = "text-decoration: None;" ><h5 class="card-title">{{ exam.exam_name }}</h5></a>
                <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{course.CourseCode}}</h5>
                <p class="tx-12 text-muted">{{ script_count }} Scripts Added</p>
                <button class="mdc-button mdc-button--raised icon-button filled-button--warning">
                  <i class="material-icons mdc-button__icon">delete</i>
                </button>
                <button class="mdc-button mdc-button--raised icon-button">
                  <i class="material-icons mdc-button__icon">edit</i>
                </button>
                <div class="card-icon-wrapper">
                  <i class="material-icons">dvr</i>
                </div>
              </div>
            </div>  
          </div>
        {% endfor %}
      {% else %}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-card info-card info-card--success">
            <div class="card-inner">
              No Exams Added. Add one Now!
            </div>
          </div>  
        </div>
      {% endif %}
    </div>  
  </main>
</div>
{% endblock %}