{% extends 'src\Views\Home\Homepage.html' %}
{% block HomeContent %}

<div class="page-wrapper mdc-toolbar-fixed-adjust" style="background-color: white">
        <main class="content-wrapper"> 
          <div class="mdc-layout-grid__inner">
          {% if courses %}
            {% for course in courses %}
              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--success">
                  <div class="card-inner">
                    <a href = "/Course/{{ course.name }}"><h5 class="card-title">{{ course.name }}</h5></a>
                    <h5 class="font-weight-light pb-2 mb-1 border-bottom">{{course.CourseCode}}</h5>
                    <p class="tx-12 text-muted">0 Exams Added</p>
                    <div class="card-icon-wrapper">
                      <i class="material-icons">dvr</i>
                    </div>
                  </div>
                </div>  
              </div>
            {% endfor %}
          {% else %}
            <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
                <div class="mdc-card info-card info-card--success">
                  <div class="card-inner">
                    No Courses Added. Add one Now!
                  </div>
                </div>  
              </div>
          {% endif %}  
          </div>  
        </main>
</div>

{% endblock %}