{% extends 'src\Views\Extensions\Material-Base-2.html' %}
{% block HomeContent%}
{% load embed_video_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Assets/Comments.css' %}">
</head>
<body>

<script type="text/javascript">
  // The Browser API key obtained from the Google API Console.
  // Replace with your own Browser API key, or your own key.
  var developerKey = "AIzaSyDnsJcFdqMPV2knwlj-oPlxJa1KPyQ18kU";

  // The Client ID obtained from the Google API Console. Replace with your own Client ID.
  var clientId = "637334363994-g3qp5e1p801mr5ujgj3igqk2grd9dqkk.apps.googleusercontent.com"

  // Replace with your own project number from console.developers.google.com.
  // See "Project number" under "IAM & Admin" > "Settings"
  var appId = "637334363994";

  // Scope to use to access user's Drive items.
  var scope = ['https://www.googleapis.com/auth/drive.file'];

  var pickerApiLoaded = false;
  var oauthToken;

  // Use the Google API Loader script to load the google.picker script.
  function loadPicker() {
    gapi.load('auth', {'callback': onAuthApiLoad});
    gapi.load('picker', {'callback': onPickerApiLoad});
  }

  function onAuthApiLoad() {
    window.gapi.auth.authorize({
          'client_id': clientId,
          'scope': scope,
          'immediate': false
        },
        handleAuthResult);
  }

  function onPickerApiLoad() {
    pickerApiLoaded = true;
    createPicker();
  }

  function handleAuthResult(authResult) {
    if (authResult && !authResult.error) {
      oauthToken = authResult.access_token;
      createPicker();
    }
  }

  // Create and render a Picker object for searching images.
  function createPicker() {
    if (pickerApiLoaded && oauthToken) {
      var view = new google.picker.View(google.picker.ViewId.DOCS);
      view.setMimeTypes("image/png,image/jpeg,image/jpg");
      var picker = new google.picker.PickerBuilder()
          .enableFeature(google.picker.Feature.NAV_HIDDEN)
          .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
          .setAppId(appId)
          .setOAuthToken(oauthToken)
          .addView(view)
          .addView(new google.picker.DocsUploadView())
          .setDeveloperKey(developerKey)
          .setCallback(pickerCallback)
          .build();
       picker.setVisible(true);
    }
  }

  // A simple callback implementation.
  function pickerCallback(data) {
    if (data.action == google.picker.Action.PICKED) {
      var fileId = data.docs[0].id;
      alert('The user selected: ' + fileId);
    }
  }
</script>

    <div class="page-wrapper mdc-toolbar-fixed-adjust" style="background-color: white">
        <main class="content-wrapper">
        <div class="mdc-layout-grid__inner">
        <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <button data-bs-toggle="modal" style="border-radius: 50%;width: 70px;
                height: 70px; position: absolute;
                right:30px;
                bottom: 100px;
                padding-top: 12px;
                padding-bottom: 12px;
                background-color:rgb(15, 180, 64);border-color:rgb(218, 218, 218); box-shadow:6px black" class="btn pmd-btn-fab pmd-ripple-effect btn-light-warning pmd-btn-raised" data-bs-target="#newFolder"type="button">
                <i style="font-weight: bolder; color: aliceblue; height: 24px;padding-top: 5px;" class="material-icons">add</i>
              </button>
              <!--<button type="button" data-bs-toggle="modal" data-bs-target="#newFolder" class="btn btn-outline-info" style="margin: 30px; width:200px; background-color:#76649b; color:aliceblue; border-radius:30px; border-color:#76649b">Upload Files</button><br>-->
              <div class="modal" tabindex="-1" id="newFolder" style="margin-top: 5rem;">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Select File</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" name="university">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="exam_name" class="mdc-floating-label">
                                University Name 
                              </label>    
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div><br>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" disabled="disabled" id="email" name="coursename" value= {{ courses.course_name }} style="color: Black;">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="name" class="mdc-floating-label">
                                Course Name
                              </label>
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div><br>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined" style="height: 100px;">
                          <textarea class="mdc-text-field__input" name="description" style="margin: 1rem; padding-top: 22px; padding-bottom: 0px;"></textarea>
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="exam_name" class="mdc-floating-label">
                               Description 
                              </label>    
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="input-group">
                        <input type="file" multiple name ="exam_file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                      </div><br>
                      <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
                        <div class="mdc-text-field mdc-text-field--outlined">
                          <input class="mdc-text-field__input" type="text" name="vid_file">
                          <div class="mdc-notched-outline">
                            <div class="mdc-notched-outline__leading"></div>
                            <div class="mdc-notched-outline__notch">
                              <label for="exam_name" class="mdc-floating-label">
                                Video Link 
                              </label>    
                            </div>
                            <div class="mdc-notched-outline__trailing"></div>
                          </div>
                        </div>
                      </div>  
                    </div>   
                    <div class="modal-footer">
                          <input type="submit" value="Upload" class="btn btn-primary">
                    </div>
                  </div>
               </div>
            </div>
         </form>
    </div>
    <button onclick="showPickerDialog()">Show Picker Dialog</button>

      <!-- The Google API Loader script. -->
      <script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
      <script>
        function showPickerDialog(){
          loadPicker()
        }
      </script>
    {% if material %}
    {% for files in material %}
    <div class="container-xxl" style="margin-top: 1rem;">
      <div class="shadow-sm p-3 mb-5 bg-body rounded">   
        <h5 class="card-header" style="border-radius: 10px; color:#76649b;">Course name : {{files.course_name}}</h5>
        <div class="card-body">
          <h6>Topic : {{ files.description }}</h6>
          <p>{{ files.uni_name }}</p>
          <p>{{ files.pdf }}</p>
          {% video files.video 'small' %} <br>
          <a href="{{files.pdf.url}}" target="_blank"  class="btn btn-primary">
            <img src="{% static "Assets/file-open.png" %}" style="border-radius: 50%; length: 25px; height: 25px;" data-toggle="tooltip" title="Classroom Courses" alt="user" class="user">
          </a>
          <a href="{{ files.pdf.url }}" download="{{files.pdf.url}}" class="btn btn-info" style="background-color: rgb(42, 140, 231); color:aliceblue;">
            <img src="{% static "Assets/download.png" %}" style="border-radius: 50%; length: 25px; height: 25px;" data-toggle="tooltip" title="Classroom Courses" alt="user" class="user">
          </a>
          </div>
        </div>
      <div>
        <div class="container mt-12">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12">
              <div class="headings d-flex justify-content-between align-items-center mb-3">
                <h5>Comments</h5>
              </div>
              
                {% for comment in comments %}
                  {% if comment.material_id_id == files.id %}
              <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                  {% if comment.user_picture == "" %}
                    <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
                  {% else %}
                  {% if comment.googleAcc == 'False' %}
                    <img src="{{comment.user_picture.url}}" width="30" class="user-img rounded-circle mr-2">
                  {% else %}
                    <img src="{{comment.user_picture}}" width="30" class="user-img rounded-circle mr-2">
                  {% endif %}
                  {% endif %}  
                    <span>
                      <small class="font-weight-bold text-warning">{{comment.username}}</small> 
                      <small class="font-weight-bold">{{comment.text}}</small>
                    </span>
                  </div>
                  <small>{{comment.created_at}}</small>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              
              <div class="card p-3">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="user d-flex flex-row align-items-center">
                  {% if picture != no_picture %}
                    <img src="{{ picture }}" width="30" class="user-img rounded-circle mr-2">
                  {% else %}
                    {% if userPictures.picture == '' %}
                      <img src="{% static 'Assets/user.png' %}" width="30" class="user-img rounded-circle mr-2">
                    {% else %}
                      <img src="{{ userPictures.picture.url }}" width="30" class="user-img rounded-circle mr-2">
                    {% endif %}
                  {% endif %}
                    <span>
                      <small class="font-weight text-secondary">Write your Comment.</small> 
                    </span>
                  </div>
                  <a href="/addComment/{{files.id}}/" class="mdc-button mdc-button--raised icon-button">
                    <i class="material-icons mdc-button__icon">add</i>
                  </a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet">
          <div class="mdc-card info-card info-card--success">
            <div class="card-inner">
              No Materials Uploaded. Add one Now!
            </div>
          </div>  
        </div>
    {% endif %}
</main>
    </div>
<footer style="padding-left: 0px;">
<nav class="my-3 container">
  <ul class="pagination justify-content-center">
    {% if material.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{material.previous_page_number}}">Previous</a></li>
    {% endif %}
    {% for i in material.paginator.page_range %}
      {% if material.number == i %}
        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
      {% endif %}
    {% endfor %}
    {% if material.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{material.next_page_number}}">Next</a></li>
    {% endif %}
  </ul>
</nav>
<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-6-desktop">
      <span class="text-center text-sm-left d-block d-sm-inline-block tx-14">Copyright ©<a style="text-decoration: None;" href="/" target="_blank">Team CheckIt</a> 2021</span>
    </div>
  </div>
</div>
</footer>
</body>
</html>

{% endblock %}